<h1 class="welcome">Welcome to your personal fitness tracker!</h1>

<div class="home">
<ul>
  <li><%= link_to "Log a new workout", new_workout_path %></li>
  <li><%= link_to "Log a new meal", new_meal_path %></li>
  </ul>
</div>