/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.heading {
  border-bottom: 1px solid;
}

.logo {
  display: inline-block;
  vertical-align: top;
  padding: 20px 40px;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 30px 35px;
  overflow: hidden;
  float: right;
  display: inline-block;
}

.nav li {
  float: left;
}

.nav li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.nav li a:hover {
  background-color: #00AAAD;
}

.content {
  margin: 50px 40px;
}

ul {
  list-style-type: none;
  margin: 0 10px ;
  padding: 0;
}

.links {
  list-style-type: none;
  margin: 10px 20px;
  padding: 0;
  overflow: hidden;
  float: left;
  display: inline-block;
}

a {
  color: black;
  text-align: center;
  padding: 0 20px 0 0;
  text-decoration: none;
}

a:hover {
  color: #00AAAD;
}

.add a {
  padding: 10px;
  color: #00AAAD;
}

.add a:hover {
  color: black;
}

.welcome {
  margin-top: 40px;
  text-align: center;
}

.home ul {
  margin-top: 50px;
  display: block;
  text-align: center
}

.home li {
  display: inline-block;
  padding: 0;
  margin: 0 5px 0 5px;
}

.home a {
  padding: 10px 20px 10px 20px;
  border: 1px solid #6D6E71;
}